body {
  font-family: "Montserrat", sans-serif;
}

.bg-brand {
  background-color: #fff2f3;
}

.text-muted {
  color: #737373 !important;
}

.text-success {
  color: #96ba7b !important;
}

.bg-success {
  background-color: #96ba7b !important;
}

.btn {
  font-size: 14px;
  font-weight: 600;
}

.btn-hero {
  padding: 15px 40px;
}

.btn-navbar {
  padding: 15px 25px;
}

.btn-success {
  background-color: #96ba7b;
  border-color: #96ba7b;
}

.btn-success:hover {
  background-color: #86a96c;
  border-color: #86a96c;
}

.btn-outline-success {
  color: #96ba7b;
  border-color: #96ba7b;
}

.btn-outline-success:hover {
  background-color: #96ba7b;
  border-color: #96ba7b;
  color: #fff;
}

.nav-link {
  font-size: 14px;
}

.packages-card {
  padding: 35px 40px;
  border-radius: 0;
  box-shadow: 0px 13px 19px 0px #00000012 !important;
}

.packages-card .card-body {
  padding: 0;
}
