body {
  font-family: "Montserrat", sans-serif;
}

.bg-brand {
  background-color: #fff2f3;
}

.text-muted {
  color: #737373 !important;
}

.text-success {
  color: #96ba7b !important;
}

.bg-success {
  background-color: #96ba7b !important;
}

.navbar {
  height: 91px;
}

.nav-link {
  font-size: 14px;
}

.btn {
  font-size: 14px;
  font-weight: 600;
}

.btn-hero {
  padding: 15px 40px;
}

.btn-navbar {
  padding: 15px 25px;
}

.btn-newsletter {
  padding: 15px 25px;
}

.btn-success {
  background-color: #96ba7b;
  border-color: #96ba7b;
}

.btn-success:hover {
  background-color: #86a96c;
  border-color: #86a96c;
}

.btn-outline-success {
  color: #96ba7b;
  border-color: #96ba7b;
}

.btn-outline-success:hover {
  background-color: #96ba7b;
  border-color: #96ba7b;
  color: #fff;
}

.card {
  box-shadow: 0px 13px 19px 0px #00000012 !important;
}

.packages-card {
  padding: 35px 40px;
  border-radius: 0;
}

.packages-card .card-body {
  padding: 0;
}

.team-card {
  border-radius: 20px;
}

.team-card .rounded-top {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.team-card .card-body {
  padding: 30px;
}

.team-card .occupation {
  font-size: 12px;
  font-weight: 500;
}

.social-icon {
  font-size: 24px !important;
}

.sub-footer {
  background-color: #fafafa;
}
